@model ApplicantPortal.Models.StudentDTO.StudentStep3

@using (Html.BeginForm("StudentStep3", "Applicant", FormMethod.Post, new { @Id = "Form3" }))
{
    <div class="row" style="float:left;margin:10px">
        <div class="col-md-12">
            <button class="btn btn-primary" id="Step3PrevBtn" type="button">Previous</button>&nbsp;
            <button class="btn btn-primary" id="Step3Btn" type="button">Submit</button>
        </div>
    </div>
    <div class="row" style="border:1px solid #e9dfdf">
        <div class="col-md-12">
            <span>11. Please Fill the Option of the Colleges & Stream In Which you want to get admission.</span>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h5 style="background:#abe222;border:0.5px solid #abe222;padding:10px;box-sizing:border-box">Enter Here for 1st Option</h5>
                </div>
                <div class="col-md-12">
                    <div class="col-md-3">
                        a.<span> District Name<span class="text-danger">*</span></span>
                    </div>
                    <div class="col-md-6">
                        @Html.DropDownListFor(
        x => x.step3DistrictId,
        new SelectList(Model.step3Districts, "Id", "Name"),
        "SELECT", new { @class = "form-control" }
    )
                        @Html.ValidationMessageFor(x => x.step3DistrictId)
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="margin-top:10px">
                    <div class="col-md-3">
                        b.<span> College Name<span class="text-danger">*</span></span>
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(
         x => x.step3CollegeId,
         new SelectList(Model.step3Colleges, "Id", "Name"),
         "SELECT", new { @class = "form-control" }
     )
                        @Html.ValidationMessageFor(x => x.step3CollegeId)
                    </div>
                    <div class="col-md-2">
                        c.<span> Stream<span class="text-danger">*</span></span>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(
         x => x.StreamId,
         new SelectList(Model.step3Streams, "Id", "Name"),
         "SELECT", new { @class = "form-control" }
     )
                        @Html.ValidationMessageFor(x => x.StreamId)
                    </div>
                </div>
                <div class="col-md-12">
                    <h5>
                        Do you want to fill more Options for applying in the Other Colleges and Subjects?<input type="radio" name="MoreOptions" value="YES" />Yes
                        <input type="radio" name="MoreOptions" value="NO" />No
                    </h5>

                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px; clear: both;border:1px solid #e9dfdf;box-sizing: border-box;padding:10px">
       
            <p style="font-size: 14px;">12. परीक्षा के विषय तथा संख्यात्मक कोड : मात्र समुन्नत तथा क्वालीफाइंग कोटि के परीक्षार्थी नीचे मुद्रित बॉक्स में अंकित विषयों में से विषय का चयन कर टिक (✓) करे जिस विषय में वे परीक्षा में सम्मिलित होना चाहते है:-</p>
        
        
        <div class="sec17" style="border: 1px solid #000;">
            <div class="secbox" style="border-right: 1px solid #000; display: inline-block; vertical-align: top; width: 340px;">
                <div class="secbox1" style="border-bottom: 1px solid #000;">
                    <div class="secheading" style="padding: 10px;">
                        <h1 style="display: inline-block; font-size: 22px; margin: 0;">(1) COMPULSORY</h1>
                        <span style="border: 1px solid #000; display: inline-block; float: right; padding: 5px;">NRB - 101</span>
                    </div>
                    <div class="seclist" style="padding: 10px;">
                        <ul style="list-style: none; margin: 0; padding: 0;">
                            
                            <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">M.B.-ALT ENGLISH -</span> 102 <input type="checkbox" id="1" name="subject" style="width: 100px;"></li>
                            <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">M.B.-ALT URDU -</span> 103 <input type="checkbox" name="subject" id="2" style="width: 100px;"></li>
                            <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">M.B.-ALT MAITHILI -</span> 104 <input type="checkbox" name="subject"  id="3" style="width: 100px;"></li>
                        </ul>
                    </div>
                </div>
                <div class="secbox2">
                    <div class="secheading" style="padding: 10px;">
                        <h1 style="display: inline-block; font-size: 22px; margin: 0;">(4) ADDITIONAL 1</h1>
                    </div>
                    <div class="seclist" style="padding: 10px;">
                        <ul style="list-style: none; margin: 0; padding: 0;">
                            <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">MATHEMATICS -</span> 121 <input type="checkbox" name="subject" id="4" style="width: 100px;"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="secbox ewidth" style="border-right: 1px solid #000; display: inline-block; vertical-align: top; width: 450px;">
                <div class="secheading" style="padding: 10px;">
                    <h1 style="display: inline-block; font-size: 22px; margin: 0;">(2) LANGUAGE &amp; LITERATURE (L&amp;L)</h1>
                </div>
                <div class="seclist" style="padding: 10px;">
                    <ul class="left" style="display: inline-block; list-style: none; margin: 0; padding: 0;">
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">ENGLISH -</span> 105 <input type="checkbox" id="5" name="subject" style="margin: 0; width: 50px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">URDU -</span> 107 <input type="checkbox" id="6" name="subject" style="margin: 0; width: 50px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">SANSKRIT -</span> 109 <input type="checkbox" id="7" name="subject" style="margin: 0; width: 50px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">MAGAHI -</span> 111 <input type="checkbox" id="8" name="subject" style="margin: 0; width: 50px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">ARABIC -</span> 113 <input type="checkbox" id="9" name="subject" style="margin: 0; width: 50px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">PALI -</span> 115 <input type="checkbox" id="10" name="subject" style="margin: 0; width: 50px;"></li>
                    </ul>
                    <ul class="right" style="display: inline-block; list-style: none; float: right; margin: 0; padding: 0;">
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">HINDI -</span> 106 <input type="checkbox" id="11" name="subject" style="margin: 0; width: 50px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">MAITHILI -</span> 108 <input type="checkbox" id="12" name="subject" style="margin: 0; width: 50px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">PRAKRIT -</span> 110 <input type="checkbox" id="13" name="subject" style="margin: 0; width: 50px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">BHOJPURI -</span> 112 <input type="checkbox" id="14" name="subject" style="margin: 0; width: 50px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">PERSIAN -</span> 114 <input type="checkbox" id="15" name="subject" style="margin: 0; width: 50px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">BANGLA -</span> 116 <input type="checkbox" id="16" name="subject" style="margin: 0; width: 50px;"></li>
                    </ul>
                </div>
            </div>
            <div class="secbox" style="display: inline-block; vertical-align: top; width: 340px;">
                <div class="secheading" style="padding: 10px;">
                    <h1 style="display: inline-block; font-size: 22px; margin: 0;">(3) COMPULSORY OPTIONAL</h1>
                </div>
                <div class="seclist" style="padding: 10px;">
                    <ul style="list-style: none; margin: 0; padding: 0;">
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">PHYSICS -</span> 117 <input type="checkbox" id="17" name="subject" style="margin: 0; width: 100px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">CHEMISTRY -</span> 118 <input type="checkbox" id="18" name="subject" style="margin: 0; width: 100px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">BIOLOGY -</span> 119 <input type="checkbox" id="19" name="subject" style="margin: 0; width: 100px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">AGRICULTURE -</span> 120 <input type="checkbox" id="20" name="subject" style="margin: 0; width: 100px;"></li>
                        <li style="text-align: right; margin-bottom: 16px;"><span style="float: left;">MATHEMATICS -</span> 121 <input type="checkbox" id="21" name="subject" style="margin: 0; width: 100px;"></li>
                    </ul>
                    <p style="margin-bottom: 0; font-size: 14px; margin-top: 32px;">Note: Agriculture with chemistry is mandatory.</p>
                </div>
            </div>
        </div>
        <div class="addbox" style="border: 1px solid #000; border-top: none; padding: 10px;">
            <ul style="list-style: none; margin: 0; padding: 0;">
                <li style="display: inline-block; margin-right: 94px; line-height: 30px;"><strong>Note:</strong> Physics, Chemistry, Agriculture, Biology</li>
                <li style="display: inline-block; margin-right: 94px; line-height: 30px;"><h1 style="font-size: 22px; margin: 0; padding: 0;">(5) ADDITIONAL 2</h1></li>
                <li style="display: inline-block; line-height: 30px;">(Can not be interchanged/swapped with any other subject)</li>
                <li style="display: inline-block; margin-right: 94px; line-height: 30px;">group may choose mathematics as additional.</li>
                <li style="display: inline-block; margin-right: 94px; line-height: 30px;">COMPUTER SCIENCE - 122 <input type="checkbox" id="22" name="subject"></li>
                <li style="display: inline-block; line-height: 30px;">MULTIMEDIA &amp; WEB TECH. - 123 <input type="checkbox" id="23" name="subject"></li>
            </ul>
        </div>
    </div>
}
